{% extends 'base.html.twig' %}

{# ... #}

{% block body %}


    <div class="container">
        <div class="row">
            {% if error %}
                <div class="col-12">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <div class="col-6">
                <form action="{{ path('app_login') }}" method="post">
                    <div class="form-group pb-2">
                        <label for="username">Email address</label>
                        <select id="username" class="form-select" name="_username">
                            <option value="user1@example.com">user1@example.com</option>
                            <option value="user2@example.com">user2@example.com</option>
                            <option value="user3@example.com">user3@example.com</option>
                        </select>
                    </div>
                    <div class="form-group pb-2">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="_password" placeholder="pass">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>


{% endblock %}
